.icon-map-russia {background-image: url(../images/flag/ru.png) !important;}
.icon-info {background-image: url(../images/other/info.png) !important;}

.icon-gerb-volgograd-obl {background-image: url(../gerb/volgograd-obl.png) !important;}
.icon-gerb-moscow-obl {background-image: url(../gerb/moscow-obl.png) !important;}
.icon-gerb-astrakhan-obl {background-image: url(../gerb/astrakhan-obl.png) !important;}
.icon-gerb-perm-obl {background-image: url(../gerb/perm-obl.png) !important;}
.icon-gerb-yaroslavl-obl {background-image: url(../gerb/yaroslavl-obl.png) !important;}
.icon-gerb-saratov-obl {	background-image: url(../gerb/saratov-obl.png) !important;}
.icon-gerb-tula-obl {background-image: url(../gerb/tula-obl.png) !important;}
.icon-gerb-oryol-obl {background-image: url(../gerb/oryol-obl.png) !important;}
.icon-gerb-rep-karelia {background-image: url(../gerb/rep-karelia.png) !important;}
.icon-gerb-tambov-obl {background-image: url(../gerb/tambov-obl.png) !important;}
.icon-gerb-moscow-obl {background-image: url(../gerb/moscow-obl.png) !important;}
.icon-gerb-yamal-nenetsia-auto-okr {background-image: url(../gerb/yamal-nenetsia-auto-okr.png) !important;}
.icon-gerb-murmansk-obl {background-image: url(../gerb/murmansk-obl.png) !important;}
.icon-gerb-tyumen-obl {background-image: url(../gerb/tyumen-obl.png) !important;}
.icon-gerb-kirov-obl {background-image: url(../gerb/kirov-obl.png) !important;}
.icon-gerb-vologda-obl {background-image: url(../gerb/vologda-obl.png) !important;}
.icon-gerb-belgorod-obl {background-image: url(../gerb/belgorod-obl.png) !important;}
.icon-gerb-lipetsk-obl {background-image: url(../gerb/lipetsk-obl.png) !important;}
.icon-gerb-chelyabinsk-obl {background-image: url(../gerb/chelyabinsk-obl.png) !important;}
.icon-gerb-chukotka {background-image: url(../gerb/chukotka.png) !important;}
.icon-gerb-magadan-obl {background-image: url(../gerb/magadan-obl.png) !important;}
.icon-gerb-tver-obl {background-image: url(../gerb/tver-obl.png) !important;}
.icon-gerb-kamchatka-krai {background-image: url(../gerb/kamchatka-krai.png) !important;}
.icon-gerb-irkutsk-obl {background-image: url(../gerb/irkutsk-obl.png) !important;}
.icon-gerb-novosibirsk-obl {background-image: url(../gerb/novosibirsk-obl.png) !important;}
.icon-gerb-buryatiya {background-image: url(../gerb/buryatiya.png) !important;}
.icon-gerb-krasnodar-kray {background-image: url(../gerb/krasnodar-kray.png) !important;}
.icon-gerb-primorsky-krai {background-image: url(../gerb/primorsky-krai.png) !important;}
.icon-gerb-kaliningrad-obl {background-image: url(../gerb/kaliningrad-obl.png) !important;}
.icon-gerb-kabardino-balkaria {background-image: url(../gerb/kabardino-balkaria.png) !important;}
.icon-gerb-krasnoyarsk-krai {background-image: url(../gerb/krasnoyarsk-krai.png) !important;}
.icon-gerb-penza-obl {background-image: url(../gerb/penza-obl.png) !important;}
.icon-gerb-stavropol-kray {background-image: url(../gerb/stavropol-kray.png) !important;}
.icon-gerb-chita-obl {background-image: url(../gerb/chita-obl.png) !important;}
.icon-gerb-khabarovsky-kray {background-image: url(../gerb/khabarovsky-kray.png) !important;}
.icon-gerb-kostroma-obl {background-image: url(../gerb/kostroma-obl.png) !important;}
.icon-gerb-moscow {background-image: url(../gerb/moscow.png) !important;}
.icon-gerb-arkhangelsk-obl {background-image: url(../gerb/arkhangelsk-obl.png) !important;}
.icon-gerb-novgorod-obl {background-image: url(../gerb/novgorod-obl.png) !important;}
.icon-gerb-orenburg-obl {background-image: url(../gerb/orenburg-obl.png) !important;}
.icon-gerb-pskov-obl {background-image: url(../gerb/pskov-obl.png) !important;}
.icon-gerb-komi-rep {background-image: url(../gerb/komi-rep.png) !important;}
.icon-gerb-yugra {background-image: url(../gerb/yugra.png) !important;}
.icon-gerb-kalmykia {background-image: url(../gerb/kalmykia.png) !important;}
.icon-gerb-amur-obl {background-image: url(../gerb/amur-obl.png) !important;}
.icon-gerb-evreiskaya-auto-obl {background-image: url(../gerb/evreiskaya-auto-obl.png) !important;}
.icon-gerb-leningrad-obl {background-image: url(../gerb/leningrad-obl.png) !important;}
.icon-gerb-smolensk-obl {background-image: url(../gerb/smolensk-obl.png) !important;}
.icon-gerb-sakhalin-obl {background-image: url(../gerb/sakhalin-obl.png) !important;}
.icon-gerb-mordovia {background-image: url(../gerb/mordovia.png) !important;}
.icon-gerb-omsk-obl {background-image: url(../gerb/omsk-obl.png) !important;}
.icon-gerb-mari-el {background-image: url(../gerb/mari-el.png) !important;}
.icon-gerb-saint-petersburg {background-image: url(../gerb/saint-petersburg.png) !important;}
.icon-gerb-samara-obl {background-image: url(../gerb/samara-obl.png) !important;}
.icon-gerb-kemerovo-obl {background-image: url(../gerb/kemerovo-obl.png) !important;}
.icon-gerb-bashkortostan {background-image: url(../gerb/bashkortostan.png) !important;}
.icon-gerb-rostov-obl {background-image: url(../gerb/rostov-obl.png) !important;}
.icon-gerb-altai-krai {background-image: url(../gerb/altai-krai.png) !important;}
.icon-gerb-dagestan {background-image: url(../gerb/dagestan.png) !important;}
.icon-gerb-karachay-cherkessia {background-image: url(../gerb/karachay-cherkessia.png) !important;}
.icon-gerb-kursk-obl {background-image: url(../gerb/kursk-obl.png) !important;}
.icon-gerb-ryazan-obl {background-image: url(../gerb/ryazan-obl.png) !important;}
.icon-gerb-kaluga-obl {background-image: url(../gerb/kaluga-obl.png) !important;}
.icon-gerb-kurgan-obl {background-image: url(../gerb/kurgan-obl.png) !important;}
.icon-gerb-nizhny-novgorod {background-image: url(../gerb/nizhny-novgorod.png) !important;}
.icon-gerb-chuvashia {background-image: url(../gerb/chuvashia.png) !important;}
.icon-gerb-udmurtia {background-image: url(../gerb/udmurtia.png) !important;}
.icon-gerb-adygeya {background-image: url(../gerb/adygeya.png) !important;}
.icon-gerb-altai-rep {background-image: url(../gerb/altai-rep.png) !important;}
.icon-gerb-chechnya {background-image: url(../gerb/chechnya.png) !important;}
.icon-gerb-ingushetia {background-image: url(../gerb/ingushetia.png) !important;}
.icon-gerb-khakassia {background-image: url(../gerb/khakassia.png) !important;}
.icon-gerb-north-ossetia-alania {background-image: url(../gerb/north-ossetia-alania.png) !important;}
.icon-gerb-sakha-yakutia {background-image: url(../gerb/sakha-yakutia.png) !important;}
.icon-gerb-tatarstan {background-image: url(../gerb/tatarstan.png) !important;}
.icon-gerb-vladimiri-obl {background-image: url(../gerb/vladimiri-obl.png) !important;}
.icon-gerb-tuva {background-image: url(../gerb/tuva.png) !important;}
.icon-gerb-voronezh-obl {background-image: url(../gerb/voronezh-obl.png) !important;}
.icon-gerb-tomsk-obl {background-image: url(../gerb/tomsk-obl.png) !important;}
.icon-gerb-ulyanovsk-obl{background-image: url(../gerb/ulyanovsk-obl.png) !important;}
.icon-gerb-sverdlovsk-obl {background-image: url(../gerb/sverdlovsk-obl.png) !important;}
.icon-gerb-ivanovo-obl {background-image: url(../gerb/ivanovo-obl.png) !important;}
.icon-gerb-nenetsia {background-image: url(../gerb/nenetsia.png) !important;}